In [2]:
import pandas as pd
import numpy as np
import zipfile

In [6]:
#data source
#MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS)
#Universe: Households  more information
#2011-2015 American Community Survey 5-Year Estimates
#Table 'ACS_15_5YR_B19013'

In [9]:
z = zipfile.ZipFile("ACS_15_5YR_B19013.zip")
z.extractall()

In [3]:
income = pd.read_csv("ACS_15_5YR_B19013_with_ann.csv")
income.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,Id,Id2,Geography,Estimate; Median household income in the past ...,Margin of Error; Median household income in th...
1,8600000US06390,06390,ZCTA5 06390,151083,13297
2,8600000US10001,10001,ZCTA5 10001,86801,10346
3,8600000US10002,10002,ZCTA5 10002,33726,3127
4,8600000US10003,10003,ZCTA5 10003,98151,5628

In [4]:
income = income.loc[1:]
income = income.drop(['GEO.id', 'GEO.display-label', 'HD02_VD01'], axis=1)
income = income.rename(columns={'GEO.id2' : 'Zip Code', 'HD01_VD01' : '2015 Median Household Income'})
income.head()

  Zip Code 2015 Median Household Income
1    06390                       151083
2    10001                        86801
3    10002                        33726
4    10003                        98151
5    10004                       119691

In [5]:
income.to_csv('2015_acs_income')