In [71]:
import pandas as pd
import zipfile

In [72]:
z = zipfile.ZipFile('../data_initial/ACS_15_5YR_B25009.zip')
z.extractall('../data_initial/')

In [73]:
homeownership = pd.read_csv('../data_initial/ACS_15_5YR_B25009_with_ann.csv', header=1)
homeownership.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Owner occupied:,Margin of Error; Owner occupied:,Estimate; Owner occupied: - 1-person household,Margin of Error; Owner occupied: - 1-person household,Estimate; Owner occupied: - 2-person household,...,Estimate; Renter occupied: - 3-person household,Margin of Error; Renter occupied: - 3-person household,Estimate; Renter occupied: - 4-person household,Margin of Error; Renter occupied: - 4-person household,Estimate; Renter occupied: - 5-person household,Margin of Error; Renter occupied: - 5-person household,Estimate; Renter occupied: - 6-person household,Margin of Error; Renter occupied: - 6-person household,Estimate; Renter occupied: - 7-or-more person household,Margin of Error; Renter occupied: - 7-or-more person household
0,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
1,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",0,16,0,16,0,16,0,...,0,16,0,16,0,16,0,16,0,16
2,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
3,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",483,83,252,86,49,36,47,...,36,47,30,33,57,60,35,41,19,30
4,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",556,105,247,78,10,16,20,...,50,49,52,42,8,13,0,11,28,26

In [74]:
homeownership = homeownership[['Id2', 'Geography', 'Estimate; Total:', 'Estimate; Owner occupied:']]
homeownership['ownership_r'] = homeownership['Estimate; Owner occupied:']/homeownership['Estimate; Total:']
homeownership = homeownership[['Id2', 'ownership_r']]
homeownership.head()

            Id2  ownership_r
0  360050001000          NaN
1  360050001001          NaN
2  360050002000          NaN
3  360050002001     0.521739
4  360050002002     0.444245

### Import building age
Table B25034

In [75]:
z = zipfile.ZipFile('../data_initial/ACS_15_5YR_B25034.zip')
z.extractall('../data_initial/')

In [76]:
bldng_age = pd.read_csv('../data_initial/ACS_15_5YR_B25034_with_ann.csv', header=1)
bldng_age.columns

Index([u'Id', u'Id2', u'Geography', u'Estimate; Total:',
       u'Margin of Error; Total:', u'Estimate; Total: - Built 2014 or later',
       u'Margin of Error; Total: - Built 2014 or later',
       u'Estimate; Total: - Built 2010 to 2013',
       u'Margin of Error; Total: - Built 2010 to 2013',
       u'Estimate; Total: - Built 2000 to 2009',
       u'Margin of Error; Total: - Built 2000 to 2009',
       u'Estimate; Total: - Built 1990 to 1999',
       u'Margin of Error; Total: - Built 1990 to 1999',
       u'Estimate; Total: - Built 1980 to 1989',
       u'Margin of Error; Total: - Built 1980 to 1989',
       u'Estimate; Total: - Built 1970 to 1979',
       u'Margin of Error; Total: - Built 1970 to 1979',
       u'Estimate; Total: - Built 1960 to 1969',
       u'Margin of Error; Total: - Built 1960 to 1969',
       u'Estimate; Total: - Built 1950 to 1959',
       u'Margin of Error; Total: - Built 1950 to 1959',
       u'Estimate; Total: - Built 1940 to 1949',
       u'Margin of Error; Total: - Built 1940 to 1949',
       u'Estimate; Total: - Built 1939 or earlier',
       u'Margin of Error; Total: - Built 1939 or earlier'],
      dtype='object')

In [77]:
bldng_age = bldng_age = bldng_age = bldng_age[['Id2', 'Geography', 'Estimate; Total:', 'Estimate; Total: - Built 2014 or later', 'Estimate; Total: - Built 2010 to 2013', 'Estimate; Total: - Built 2000 to 2009', 'Estimate; Total: - Built 1990 to 1999', 'Estimate; Total: - Built 1980 to 1989', 'Estimate; Total: - Built 1970 to 1979', 'Estimate; Total: - Built 1960 to 1969', 'Estimate; Total: - Built 1950 to 1959', 'Estimate; Total: - Built 1940 to 1949', 'Estimate; Total: - Built 1939 or earlier']]

In [78]:
#take weighted average
bldng_age['avg_bldng_age'] = 2015 - ((bldng_age['Estimate; Total: - Built 2014 or later']*2014 + bldng_age['Estimate; Total: - Built 2010 to 2013']*2012 + bldng_age['Estimate; Total: - Built 2000 to 2009']*2005 + bldng_age['Estimate; Total: - Built 1990 to 1999']*1995 + bldng_age['Estimate; Total: - Built 1980 to 1989']*1985 + bldng_age['Estimate; Total: - Built 1970 to 1979']*1975 + bldng_age['Estimate; Total: - Built 1960 to 1969']*1965 + bldng_age['Estimate; Total: - Built 1950 to 1959']*1955 + bldng_age['Estimate; Total: - Built 1940 to 1949']*1945 + bldng_age['Estimate; Total: - Built 1939 or earlier']*1939) / bldng_age['Estimate; Total:'])
bldng_age = bldng_age[['Id2', 'avg_bldng_age']]

In [79]:
bldng_age.head(10)

            Id2  avg_bldng_age
0  360050001000            NaN
1  360050001001            NaN
2  360050002000            NaN
3  360050002001      60.368530
4  360050002002      55.491086
5  360050002003      34.688776
6  360050004000            NaN
7  360050004001      48.718121
8  360050004002      53.836364
9  360050004003      25.478381

### Import house heating fuel
Table B25040

In [80]:
z = zipfile.ZipFile('../data_initial/ACS_15_5YR_B25040.zip')
z.extractall('../data_initial/')

In [81]:
heat_fuel = pd.read_csv('../data_initial/ACS_15_5YR_B25040_with_ann.csv', header=1)
heat_fuel.head(2)

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Utility gas,Margin of Error; Total: - Utility gas,"Estimate; Total: - Bottled, tank, or LP gas","Margin of Error; Total: - Bottled, tank, or LP gas",Estimate; Total: - Electricity,...,Estimate; Total: - Coal or coke,Margin of Error; Total: - Coal or coke,Estimate; Total: - Wood,Margin of Error; Total: - Wood,Estimate; Total: - Solar energy,Margin of Error; Total: - Solar energy,Estimate; Total: - Other fuel,Margin of Error; Total: - Other fuel,Estimate; Total: - No fuel used,Margin of Error; Total: - No fuel used
0,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
1,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",0,16,0,16,0,16,0,...,0,16,0,16,0,16,0,16,0,16

In [82]:
heat_fuel = heat_fuel[['Id2', 'Geography', 'Estimate; Total:', 'Estimate; Total: - Utility gas']]
heat_fuel['gas_utility_r'] = heat_fuel['Estimate; Total: - Utility gas'] / heat_fuel['Estimate; Total:']
heat_fuel = heat_fuel[['Id2' ,'Geography', 'gas_utility_r']]

In [83]:
heat_fuel.head()

,Id2,Geography,gas_utility_r
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN
2,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",NaN
3,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",0.917184
4,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",0.598921

In [84]:
merge1 = pd.merge(heat_fuel, bldng_age, on='Id2', how='outer')

In [85]:
merge1.head(2)

,Id2,Geography,gas_utility_r,avg_bldng_age
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN

In [86]:
phys_cond_15 = pd.merge(merge1, homeownership, on='Id2', how='outer')

In [87]:
phys_cond_15.head(2)

,Id2,Geography,gas_utility_r,avg_bldng_age,ownership_r
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN,NaN
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN,NaN

In [91]:
phys_cond_15.to_csv('../data_processed/phys_cond_15')

In [89]:
phys_cond_15.head(2)

,Id2,Geography,gas_utility_r,avg_bldng_age,ownership_r
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN,NaN
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN,NaN