In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

u'/Users/kristikorsberg/devel/MacArthur/311/notebooks'

In [3]:
boilers = pd.read_csv('../data_initial/Oil_Boilers_-_Detailed_Fuel_Consumption_and_Building_Data.csv')
boilers.tail(5)

,"Borough, Block and Lot #",Facility Address,Natural Gas Utility (Con Edison or National Grid,Building Manager,Owner,Owner Address,DEP Boiler Application #,Deadline for phasing out #6 oil (i.e. data of next DEP permit renewal after July 1 2012),Boiler Model,Number of identical boilers,...,Building Type,City Council District,Total area of buildings on lot,Number of buildings on property (tax lot),Number of floors,Number of residential units,Number of total units,Year constructed,Condominium housing?,Cooperative housing?
8768,4.064820e+09,"137 45 68 DRIVE\nQueens, NY 11367\n(40.7303230...",National Grid,HYDE PARK GARDENS/METRO MGMT,DAVID TILLMAN,"137 07 JEWEL AVENUE\nQUEENS, NY 11367\n(40.730...",CA138597K,7/4/05,FEDERAL FST-175,1.0,...,Loft Buildings,24.0,68720.0,5.0,2.0,80.0,80.0,1950.0,,YES
8769,1.005758e+09,"31 11 STREET\nManhattan, NY 10011\n(40.7344790...",Con Edison,"ARNOLD S. WARWICK & CO., LTD",NaN,"805 THIRD AVE\nNEW YORK, NY 10022\n(40.7555929...",CA308191J,7/5/05,FEDERAL FST-60,1.0,...,Elevator Apartments,3.0,30263.0,1.0,9.0,17.0,17.0,1912.0,,
8770,1.014470e+09,"355 72 STREET\nManhattan, NY 10021\n(40.768279...",Con Edison,"EASTWOOD TOWER, C/O WALTER & SAMUELS, INC.",EASTWOOD TOWERS COMPA,"352 PARK AVENUE\nMANHATTAN, NY 10010\n(40.7418...",CA110977H,7/5/05,ROCKMILLS MP 250,1.0,...,Elevator Apartments,5.0,165527.0,2.0,19.0,144.0,145.0,1962.0,,
8771,2.031970e+09,"2275 DAVIDSON AVENUE\nBronx, NY 10468\n(40.858...",Con Edison,CHATAN MANAGEMENT CO.INC.,PREETAN REALTY CO INC,"2123 WILLIAMSBRIDGE ROAD\nBRONX, NY 10461\n(40...",CA332290P,7/6/05,FEDERAL FST 60,1.0,...,Walk-Up Apartments,14.0,31500.0,1.0,5.0,31.0,36.0,1927.0,,
8772,1.008230e+09,"20 22 STREET\nManhattan, NY 10010\n(40.7404356...",Con Edison,20 WEST 22 ST. ASSOC.LLC.,ELK REALTY LLC,"200 PARK AVE\nMANHATTAN, NY 10003\n(40.7365835...",CA309388H,7/4/05,ROCKMILLS MP 200,1.0,...,Walk-Up Apartments,3.0,150116.0,1.0,16.0,0.0,75.0,1910.0,,

In [4]:
boilers = boilers.iloc[725:,:]

In [5]:
boilers.isnull().sum()

Borough, Block and Lot #                                                                       0
Facility Address                                                                               3
Natural Gas Utility (Con Edison or National Grid                                               0
Building Manager                                                                               0
Owner                                                                                        202
Owner Address                                                                                240
DEP Boiler Application #                                                                       0
Deadline for phasing out #6 oil (i.e. data of next DEP permit renewal after July 1 2012)     170
Boiler Model                                                                                   8
Number of identical boilers                                                                    0
Boiler capacity (Gross BTU)                                                                    0
Boiler Installation Date                                                                       0
Estimated retirement date of boiler (assuming 35 year average useful life)                     0
Is boiler dual fuel capable?                                                                   0
Age range of boiler                                                                            0
Burner Model                                                                                   8
Primary Fuel                                                                                   0
Total Estimated Cosumption - High Estimate (Gallons)                                           0
Total Estimated Cosumption - Low Estimate (Gallons)                                            0
Total Estimated Cosumption - High Estimate (MMBTUs)                                            0
Total Estimated Cosumption - Low Estimate  (MMBTUs)                                            0
Needs to comply with Greener Greater Buildings Laws?                                        2757
Deadline for complying with Audit and Retrocommissioning Law                                2757
Building Type                                                                                  0
City Council District                                                                          0
Total area of buildings on lot                                                                 0
Number of buildings on property (tax lot)                                                      0
Number of floors                                                                               0
Number of residential units                                                                    0
Number of total units                                                                          0
Year constructed                                                                               0
Condominium housing?                                                                           0
Cooperative housing?                                                                           0
dtype: int64

In [6]:
boilers.columns

Index([u'Borough, Block and Lot #', u'Facility Address',
       u'Natural Gas Utility (Con Edison or National Grid',
       u'Building Manager', u'Owner', u'Owner Address',
       u'DEP Boiler Application #',
       u'Deadline for phasing out #6 oil (i.e. data of next DEP permit renewal after July 1 2012)',
       u'Boiler Model', u'Number of identical boilers',
       u'Boiler capacity (Gross BTU)', u'Boiler Installation Date',
       u'Estimated retirement date of boiler (assuming 35 year average useful life)',
       u'Is boiler dual fuel capable?', u'Age range of boiler',
       u'Burner Model', u'Primary Fuel',
       u'Total Estimated Cosumption - High Estimate (Gallons) ',
       u'Total Estimated Cosumption - Low Estimate (Gallons) ',
       u'Total Estimated Cosumption - High Estimate (MMBTUs) ',
       u'Total Estimated Cosumption - Low Estimate  (MMBTUs) ',
       u'Needs to comply with Greener Greater Buildings Laws?',
       u'Deadline for complying with Audit and Retrocommissioning Law',
       u'Building Type', u'City Council District',
       u'Total area of buildings on lot',
       u'Number of buildings on property (tax lot)', u'Number of floors',
       u'Number of residential units', u'Number of total units',
       u'Year constructed', u'Condominium housing?', u'Cooperative housing?'],
      dtype='object')

In [7]:
len(boilers)

8048

In [8]:
boilers = boilers.rename(columns={'Natural Gas Utility (Con Edison or National Grid':'Con Edison or National Grid',\
                                 'Deadline for phasing out #6 oil (i.e. data of next DEP permit renewal after July 1 2012)':\
                                 'Date Next DEP Permit Renewal post 7/1/12', 'Estimated retirement date of boiler (assuming 35 year average useful life)':\
                                 'Estimated Retirement Date of Boiler', 'Total Estimated Cosumption - High Estimate (Gallons) ':\
                                  'High Estimate of Consumption (Gal)', 'Total Estimated Cosumption - Low Estimate (Gallons) ':\
                                 'Low Estimate of Consumption (Gal)', 'Total Estimated Cosumption - High Estimate (MMBTUs) ':\
                                 'High Estimate of Consumption (MMBTUs)', 'Total Estimated Cosumption - Low Estimate  (MMBTUs) ':\
                                 'Low Estimate of Consumption (MMBTUs)', 'Condominium housing?':'Condo Housing', 'Cooperative housing?':\
                                 'Coop Housing', 'Borough, Block and Lot #':'BBL'})

In [9]:
boilers.columns

Index([u'BBL', u'Facility Address', u'Con Edison or National Grid',
       u'Building Manager', u'Owner', u'Owner Address',
       u'DEP Boiler Application #',
       u'Date Next DEP Permit Renewal post 7/1/12', u'Boiler Model',
       u'Number of identical boilers', u'Boiler capacity (Gross BTU)',
       u'Boiler Installation Date', u'Estimated Retirement Date of Boiler',
       u'Is boiler dual fuel capable?', u'Age range of boiler',
       u'Burner Model', u'Primary Fuel', u'High Estimate of Consumption (Gal)',
       u'Low Estimate of Consumption (Gal)',
       u'High Estimate of Consumption (MMBTUs)',
       u'Low Estimate of Consumption (MMBTUs)',
       u'Needs to comply with Greener Greater Buildings Laws?',
       u'Deadline for complying with Audit and Retrocommissioning Law',
       u'Building Type', u'City Council District',
       u'Total area of buildings on lot',
       u'Number of buildings on property (tax lot)', u'Number of floors',
       u'Number of residential units', u'Number of total units',
       u'Year constructed', u'Condo Housing', u'Coop Housing'],
      dtype='object')

In [10]:
boilers = boilers.drop(['DEP Boiler Application #', 'Number of buildings on property (tax lot)', 'Number of floors', \
                        'Number of residential units', u'Number of total units', \
                        'Year constructed', 'Condo Housing', 'Coop Housing', \
                       'Date Next DEP Permit Renewal post 7/1/12', 'High Estimate of Consumption (MMBTUs)', \
                        'Low Estimate of Consumption (MMBTUs)', 'Deadline for complying with Audit and Retrocommissioning Law', \
                       'Building Type', 'City Council District', 'Total area of buildings on lot', 'Facility Address', \
                       'Owner Address', 'Needs to comply with Greener Greater Buildings Laws?', \
                       'Estimated Retirement Date of Boiler', 'Number of identical boilers', 'Age range of boiler'],\
                       axis=1)

In [11]:
boilers.head(2)

,BBL,Con Edison or National Grid,Building Manager,Owner,Boiler Model,Boiler capacity (Gross BTU),Boiler Installation Date,Is boiler dual fuel capable?,Burner Model,Primary Fuel,High Estimate of Consumption (Gal),Low Estimate of Consumption (Gal)
725,1.007910e+09,Con Edison,J.C. DWIGHT #16,130 W 16 OWNERS INC,ROCKMILLS MP-70,2.8,1979.0,,INDUSTRIAL COMBUSTION MEG-34S,#6,32016.0,22411.0
726,1.012440e+09,Con Edison,LYNDONVILLE PROPERTIES MGMT,ARNAV INDUSTIRES INC,FEDERAL FST-400,14.0,1983.0,,ICI DEG 175 P,#6,146000.0,102200.0

In [12]:
boilers.isnull().sum()

BBL                                     0
Con Edison or National Grid             0
Building Manager                        0
Owner                                 202
Boiler Model                            8
Boiler capacity (Gross BTU)             0
Boiler Installation Date                0
Is boiler dual fuel capable?            0
Burner Model                            8
Primary Fuel                            0
High Estimate of Consumption (Gal)      0
Low Estimate of Consumption (Gal)       0
dtype: int64

In [13]:
boilers['BBL'] = boilers['BBL'].astype(int)
boilers['BBL'] = boilers['BBL'].astype(str)

In [14]:
boilers['Boiler Age'] = 2017 - boilers['Boiler Installation Date']
boilers['Average Consumption (Gal)'] = (boilers['High Estimate of Consumption (Gal)'] + boilers['Low Estimate of Consumption (Gal)'])/2.0

In [15]:
boilers = boilers.drop(['Boiler Installation Date', 'High Estimate of Consumption (Gal)', \
                       'Low Estimate of Consumption (Gal)'], axis=1)

In [16]:
boilers.head(2)

,BBL,Con Edison or National Grid,Building Manager,Owner,Boiler Model,Boiler capacity (Gross BTU),Is boiler dual fuel capable?,Burner Model,Primary Fuel,Boiler Age,Average Consumption (Gal)
725,1007910062,Con Edison,J.C. DWIGHT #16,130 W 16 OWNERS INC,ROCKMILLS MP-70,2.8,,INDUSTRIAL COMBUSTION MEG-34S,#6,38.0,27213.5
726,1012440072,Con Edison,LYNDONVILLE PROPERTIES MGMT,ARNAV INDUSTIRES INC,FEDERAL FST-400,14.0,,ICI DEG 175 P,#6,34.0,124100.0

In [17]:
boilers['Is boiler dual fuel capable?'].unique()

array([' ', 'DUAL FUEL'], dtype=object)

In [18]:
boilers['Is boiler dual fuel capable?'] = boilers['Is boiler dual fuel capable?'].replace(to_replace=' ',value='No')

In [19]:
boilers['Is boiler dual fuel capable?'] = boilers['Is boiler dual fuel capable?'].replace(to_replace='DUAL FUEL',value='Yes')

In [20]:
boilers.head(2)

,BBL,Con Edison or National Grid,Building Manager,Owner,Boiler Model,Boiler capacity (Gross BTU),Is boiler dual fuel capable?,Burner Model,Primary Fuel,Boiler Age,Average Consumption (Gal)
725,1007910062,Con Edison,J.C. DWIGHT #16,130 W 16 OWNERS INC,ROCKMILLS MP-70,2.8,No,INDUSTRIAL COMBUSTION MEG-34S,#6,38.0,27213.5
726,1012440072,Con Edison,LYNDONVILLE PROPERTIES MGMT,ARNAV INDUSTIRES INC,FEDERAL FST-400,14.0,No,ICI DEG 175 P,#6,34.0,124100.0

In [21]:
boilers['Average Consumption (Gal)'].unique()

array([  27213.5,  124100. ,   26192. , ...,   40767. ,  123630. ,   31654. ])

In [22]:
len(boilers['Owner'].unique())

6603

In [23]:
len(boilers['Building Manager'].unique())

7277

In [24]:
boilers.corr()

,Boiler capacity (Gross BTU),Boiler Age,Average Consumption (Gal)
Boiler capacity (Gross BTU),1.000000,-0.027618,-0.000711
Boiler Age,-0.027618,1.000000,0.097770
Average Consumption (Gal),-0.000711,0.097770,1.000000

In [25]:
boilers.head(2)

,BBL,Con Edison or National Grid,Building Manager,Owner,Boiler Model,Boiler capacity (Gross BTU),Is boiler dual fuel capable?,Burner Model,Primary Fuel,Boiler Age,Average Consumption (Gal)
725,1007910062,Con Edison,J.C. DWIGHT #16,130 W 16 OWNERS INC,ROCKMILLS MP-70,2.8,No,INDUSTRIAL COMBUSTION MEG-34S,#6,38.0,27213.5
726,1012440072,Con Edison,LYNDONVILLE PROPERTIES MGMT,ARNAV INDUSTIRES INC,FEDERAL FST-400,14.0,No,ICI DEG 175 P,#6,34.0,124100.0

In [26]:
updated = pd.DataFrame()
updated['avg_consumption'] = boilers['Average Consumption (Gal)'].groupby(boilers['BBL']).sum()
updated['avg_boiler_age'] = boilers['Boiler Age'].groupby(boilers['BBL']).mean()
updated['avg_boiler_capacity'] = boilers['Boiler capacity (Gross BTU)'].groupby(boilers['BBL']).mean()
updated = updated.reset_index()

In [27]:
updated.head()

          BBL  avg_consumption  avg_boiler_age  avg_boiler_capacity
0  1000087501          69806.0            26.0                17.92
1  1000130001          45900.0            47.0                16.80
2  1000157501         354569.0            25.0                19.99
3  1000160080          34000.0            32.0                 8.40
4  1000167508         283900.0            30.0                16.80

In [28]:
updated['oil_boiler'] = 1

In [29]:
updated.head(2)

,BBL,avg_consumption,avg_boiler_age,avg_boiler_capacity,oil_boiler
0,1000087501,69806.0,26.0,17.92,1
1,1000130001,45900.0,47.0,16.80,1

In [30]:
len(boilers['Boiler Model'].unique())

2589

In [31]:
len(boilers['BBL'].unique())

7300

In [32]:
len(boilers)

8048

In [33]:
bbl = pd.read_csv('../data_processed/pluto_16')

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (27,37,40,46,53,64,65,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
bbl.head(2)

,Unnamed: 0,APPBBL,APPDate,Address,AllZoning1,AllZoning2,AreaSource,AssessLand,AssessTot,BBL,...,YearAlter2,YearBuilt,ZMCode,ZipCode,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,ZoneMap,geometry
0,0,0.0,NaN,437 PURDY AVENUE,R3-1,NaN,7,15120.0,23400.0,5.007470e+09,...,0,1960,NaN,10314,R3-1,NaN,NaN,NaN,20d,"POLYGON ((944681.4200000018 161477.381400004, ..."
1,1,0.0,NaN,CUNARD AVENUE,R3A/HS,NaN,4,21518.0,21518.0,5.006230e+09,...,0,0,NaN,10304,R3A,NaN,NaN,NaN,21d,"POLYGON ((959872.0577999949 162992.5866000056,..."

In [35]:
bbl['BBL'] = bbl['BBL'].astype(int)

In [36]:
bbl.head(2)

,Unnamed: 0,APPBBL,APPDate,Address,AllZoning1,AllZoning2,AreaSource,AssessLand,AssessTot,BBL,...,YearAlter2,YearBuilt,ZMCode,ZipCode,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,ZoneMap,geometry
0,0,0.0,NaN,437 PURDY AVENUE,R3-1,NaN,7,15120.0,23400.0,5007470028,...,0,1960,NaN,10314,R3-1,NaN,NaN,NaN,20d,"POLYGON ((944681.4200000018 161477.381400004, ..."
1,1,0.0,NaN,CUNARD AVENUE,R3A/HS,NaN,4,21518.0,21518.0,5006230252,...,0,0,NaN,10304,R3A,NaN,NaN,NaN,21d,"POLYGON ((959872.0577999949 162992.5866000056,..."

In [37]:
bbl = bbl[['BBL','AssessLand']]

In [38]:
joined = pd.merge(bbl, updated, on='BBL', how='left')

In [39]:
joined.isnull().sum()

BBL                         0
AssessLand                  0
avg_consumption        857513
avg_boiler_age         857513
avg_boiler_capacity    857513
oil_boiler             857513
dtype: int64

In [40]:
joined['oil_boiler']= joined['oil_boiler'].replace(np.nan, 0)

In [43]:
joined = joined.drop('AssessLand',axis=1)

In [44]:
joined.to_csv('../data_processed/boilers.csv')

In [45]:
joined.head(2)

,BBL,avg_consumption,avg_boiler_age,avg_boiler_capacity,oil_boiler
0,5007470028,NaN,NaN,NaN,0.0
1,5006230252,NaN,NaN,NaN,0.0