In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%pylab inline
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy

### multiple dwelling registration

You can find Multiple Dwelling Registration data including OwnerTypes and Site Manager information from the attached file. Followings are the description of columns:
* Owner: There is only 0. All BBLs of this data is living without owner in their buildings
* Ownership: Types of specific owners
    * Corp: Corporation (each unit is owned by individual owner)
    * Ind: Individual Owner
    * Off: Owned by company
    * Joint: Shared Owner (multiple owners)
    * Agent: Yes or No of representative agent of the building
    * SiteManager: Yes or No of site manager (super)
There are some NaN in "Agent" and "SiteManager" columns. 

You can replace those as 0 or drop. The results (before dropping and after dropping) were not that different.

In [2]:
dwell = pd.read_csv('../data_processed/Multiple_Dwelling_Registration_OwnerType_Boiler_Joined.csv')
dwell = dwell.drop('Unnamed: 0',axis=1)
dwell.head()

          BBL  Owner Ownership  Agent  SiteManager  boiler  boiler_age
0  4086640052      0       Ind    0.0          1.0       0   27.174765
1  4057400139      0      Corp    1.0          1.0       0   27.174765
2  3034570006      0      Corp    1.0          1.0       0   27.174765
3  1021160061      0      Corp    1.0          1.0       0   27.174765
4  1004360020      0      Corp    1.0          1.0       0   27.174765

In [3]:
dwell.boiler.unique()

array([0, 1, 2])

In [4]:
print len(dwell)
print len(dwell.BBL.unique())

147075
146438

In [5]:
dwell.BBL.value_counts().head()

4010307501    8
4022527501    7
2026330047    4
4039077501    4
3086730012    4
Name: BBL, dtype: int64

In [6]:
dwell[dwell.BBL ==4010307501]

               BBL  Owner Ownership  Agent  SiteManager  boiler  boiler_age
6710    4010307501      0       Ind    1.0          0.0       0   27.174765
26746   4010307501      0     Joint    1.0          1.0       0   27.174765
27864   4010307501      0       Ind    0.0          0.0       0   27.174765
28780   4010307501      0       Ind    0.0          1.0       0   27.174765
39079   4010307501      0       NaN    NaN          NaN       0   27.174765
46142   4010307501      0      Corp    1.0          0.0       0   27.174765
49931   4010307501      0       Off    1.0          0.0       0   27.174765
111216  4010307501      0       Ind    1.0          1.0       0   27.174765

In [7]:
dwell = dwell.dropna()
dwell = dwell.drop('Owner',axis=1)

In [8]:
print len(dwell.BBL.unique())

144304

In [9]:
test = pd.DataFrame(dwell.BBL.value_counts().reset_index(name="count").query("count == 1")["index"])
test = test.rename(columns={'index':'BBL'})
test = test.reset_index().drop('index',axis=1)
test.head()

          BBL
0  3018030086
1  2043190025
2  3020740016
3  1013990010
4  3068190001

In [10]:
dwell = pd.merge(test, dwell, on='BBL', how='left')

In [11]:
len(dwell)

143798

In [12]:
144304-143798

506

In [13]:
dwell = pd.concat([dwell, pd.get_dummies(dwell['Ownership'])],axis=1)
dwell = pd.concat([dwell, pd.get_dummies(dwell['boiler'],prefix='boiler')],axis=1)

In [14]:
dwell.columns

Index([u'BBL', u'Ownership', u'Agent', u'SiteManager', u'boiler',
       u'boiler_age', u'Corp', u'Ind', u'Joint', u'Off', u'boiler_0',
       u'boiler_1', u'boiler_2'],
      dtype='object')

In [15]:
###identify majority class for dummy variables
print 'boiler_0:', len(dwell[dwell['boiler_0']==1])/float(len(dwell))
print 'boiler_1:', len(dwell[dwell['boiler_1']==1])/float(len(dwell))
print 'boiler_2:', len(dwell[dwell['boiler_2']==1])/float(len(dwell))
print 'corp own:',  len(dwell[dwell['Corp']==1])/float(len(dwell))
print 'individual own:',  len(dwell[dwell['Ind']==1])/float(len(dwell))
print 'joint own:',  len(dwell[dwell['Joint']==1])/float(len(dwell))
print 'off own:',  len(dwell[dwell['Off']==1])/float(len(dwell))

boiler_0: 0.989763418128
boiler_1: 0.00703765003686
boiler_2: 0.00319893183494
corp own: 0.503588367015
individual own: 0.333697269781
joint own: 0.133270281923
off own: 0.0294440812807

In [16]:
dwell.head()

,BBL,Ownership,Agent,SiteManager,boiler,boiler_age,Corp,Ind,Joint,Off,boiler_0,boiler_1,boiler_2
0,3018030086,Corp,1.0,1.0,0,27.174765,1,0,0,0,1,0,0
1,2043190025,Corp,1.0,1.0,0,27.174765,1,0,0,0,1,0,0
2,3020740016,Ind,0.0,1.0,0,27.174765,0,1,0,0,1,0,0
3,1013990010,Corp,1.0,1.0,0,27.174765,1,0,0,0,1,0,0
4,3068190001,Corp,1.0,0.0,0,27.174765,1,0,0,0,1,0,0

### pluto

mapPLUTO
* AssessSqft
* UnitsRes
* ResArea
* ResArea_perunit
* Res_r
* NumFloors
* Bldg_nrr
* Bldg_age
* BsmtCode
* ProxCode
* BldgClass_dummy

In [17]:
pluto = pd.read_csv('../data_processed/pluto_16')
pluto = pluto.drop('Unnamed: 0',axis=1)
pluto.head()

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (27,37,40,46,53,64,65,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,APPBBL,APPDate,Address,AllZoning1,AllZoning2,AreaSource,AssessLand,AssessTot,BBL,BldgArea,...,YearAlter2,YearBuilt,ZMCode,ZipCode,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,ZoneMap,geometry
0,0.0,NaN,437 PURDY AVENUE,R3-1,NaN,7,15120.0,23400.0,5.007470e+09,1488,...,0,1960,NaN,10314,R3-1,NaN,NaN,NaN,20d,"POLYGON ((944681.4200000018 161477.381400004, ..."
1,0.0,NaN,CUNARD AVENUE,R3A/HS,NaN,4,21518.0,21518.0,5.006230e+09,0,...,0,0,NaN,10304,R3A,NaN,NaN,NaN,21d,"POLYGON ((959872.0577999949 162992.5866000056,..."
2,0.0,NaN,121 MOUNTAINVIEW AVENUE,R3-1,NaN,7,13561.0,22602.0,5.007130e+09,1316,...,0,1920,NaN,10314,R3-1,NaN,NaN,NaN,21b,"POLYGON ((949278.1987999976 161346.9971999973,..."
3,0.0,NaN,26 FANNING STREET,R3X,NaN,7,9720.0,28740.0,5.007140e+09,2188,...,0,1975,NaN,10314,R3X,NaN,NaN,NaN,21b,"POLYGON ((950061.0491999984 160815.3023999929,..."
4,0.0,NaN,335 SIMONSON AVENUE,R3A,NaN,7,7617.0,22118.0,5.011840e+09,2392,...,0,1965,NaN,10303,R3A,NaN,NaN,NaN,20c,"POLYGON ((941981.4906000048 168120.2173999995,..."

In [18]:
print len(pluto)
print len(pluto.BBL.unique())

857513
857513

#### remove outliers

In [19]:
pluto = pluto[pluto['YearBuilt']>1750]
pluto = pluto[pluto['AssessLand']> 0]
pluto = pluto[pluto['NumBldgs'] > 0]
pluto = pluto[pluto['NumFloors'] > 0]
pluto = pluto[pluto['ResArea'] > 0]
pluto = pluto[pluto['UnitsRes'] < 8000]
pluto = pluto[pluto['UnitsRes'] > 0]
pluto = pluto[pluto['BldgFront'] > 0]

#### adjust features

In [20]:
pluto['AssessSqft'] = pluto['AssessTot']/pluto['BldgArea']
pluto = pluto[pluto['AssessSqft'] > 0]

pluto['BldgAge'] = 2017-pluto['YearBuilt']
pluto = pluto.drop('YearBuilt',axis=1)

pluto['Bldg_nrr'] = pluto['BldgDepth']/pluto['BldgFront'].astype(float)

#proxcode
#0 = unknown, 1 = detatched, 2 = attached or semi=attached
pluto['ProxCode'] = pluto['ProxCode'].replace(3, 2)

#bsmtcode
#0 = no basement, 1 = full or partial basement, 5 = unknown
pluto['BsmtCode'] = pluto['BsmtCode'].replace(2, 1)
pluto['BsmtCode'] = pluto['BsmtCode'].replace(3, 1)
pluto['BsmtCode'] = pluto['BsmtCode'].replace(4, 1)
pluto['Res_r'] = pluto['ResArea']/pluto['BldgArea'].astype(float)
pluto['ResArea_perunit'] = pluto['ResArea']/pluto['UnitsRes'].astype(float)

bldgclass = []
for elem in pluto['BldgClass']:
    bldgclass.append(str(elem[0]))
bldgclasscat = []
for elem in bldgclass:
    if elem == 'A':
        bldgclasscat.append(1)
    elif elem == 'B':
        bldgclasscat.append(2)
    elif elem == 'C':
        bldgclasscat.append(3)
    elif elem == 'D':
        bldgclasscat.append(4)
    else:
        bldgclasscat.append(0)
pluto['BldgClass_dummy'] = bldgclasscat

In [21]:
print len(pluto)
print len(pluto.BBL.unique())

753540
753540

In [22]:
pluto = pd.concat([pluto, pd.get_dummies(pluto['BldgClass_dummy'], prefix='bc'), \
                    pd.get_dummies(pluto['ProxCode'], prefix='pc'), \
                   pd.get_dummies(pluto['BsmtCode'], prefix='bsmt')],axis=1)

In [23]:
print len(pluto)
print len(pluto.BBL.unique())

753540
753540

proxcode = []
for elem in pluto['ProxCode']:
    proxcode.append(elem)
proxcodecat = []
for elem in proxcode:
    if elem == 0:
        proxcodecat.append('pc0')
    elif elem == 1:
        proxcodecat.append('pc1')
    elif elem == 2:
        proxcodecat.append('pc2')
pluto['ProxCode_dummy'] = proxcodecat

bsmtcode = []
for elem in pluto['BsmtCode']:
    bsmtcode.append(elem)
bsmtcodecat = []
for elem in bsmtcode:
    if elem == 0:
        bsmtcodecat.append('bsmt0')
    elif elem == 1:
        bsmtcodecat.append('bsmt1')
    elif elem == 5:
        bsmtcodecat.append('bsmt5')
pluto['BsmtCode_dummy'] = bsmtcodecat

#### Pre 5/29/2017
BldgClass
 1: A (one family housing)
 2: B (two family housing)
 3: C + S (walk up + mixed use)
 4: D + O8 (elevator apartment + apt with office)
 5: R (condominium)
 6: L (loft)
 0: Others
 
#### Post 5/29/2017
BldgClass
 1: A (one family housing)
 2: B (two family housing)
 3: C (walk up)
 4: D (elevator apartment)
 0: Others (loft (L), mixed use (S), apt with office (O8), condo (R))
 
#### Post 6/7/17
Remove all rows with others as a building class

In [24]:
pluto.head(2)

,APPBBL,APPDate,Address,AllZoning1,AllZoning2,AreaSource,AssessLand,AssessTot,BBL,BldgArea,...,bc_1,bc_2,bc_3,bc_4,pc_0.0,pc_1.0,pc_2.0,bsmt_0.0,bsmt_1.0,bsmt_5.0
0,0.0,NaN,437 PURDY AVENUE,R3-1,NaN,7,15120.0,23400.0,5.007470e+09,1488,...,0,1,0,0,0,1,0,0,1,0
2,0.0,NaN,121 MOUNTAINVIEW AVENUE,R3-1,NaN,7,13561.0,22602.0,5.007130e+09,1316,...,1,0,0,0,0,1,0,0,1,0

In [25]:
print len(pluto)
print len(pluto.BBL.unique())

753540
753540

In [26]:
test = pluto[pluto.bc_0 == 0]

In [27]:
print test.bc_0.unique()
print 'len pluto: ', len(pluto)
print 'len pluto_bbl_unique: ', len(pluto.BBL.unique())
print len(test)
print 1 - len(test)/float(len(pluto))

[0]
len pluto:  753540
len pluto_bbl_unique:  753540
711029
0.0564150542771

In [28]:
print len(pluto)

753540

#### drop irrelevant features

In [29]:
###identify  majority class for bc, pc, and bsmt
print 'bc_1:', len(pluto[pluto['bc_1']==1])/float(len(pluto))
print 'bc_2:', len(pluto[pluto['bc_2']==1])/float(len(pluto))
print 'bc_3:', len(pluto[pluto['bc_3']==1])/float(len(pluto))
print 'bc_4:', len(pluto[pluto['bc_4']==1])/float(len(pluto)), '\n'

print 'pc_0.0:', len(pluto[pluto['pc_0.0']==1])/float(len(pluto))
print 'pc_1.0:', len(pluto[pluto['pc_1.0']==1])/float(len(pluto))
print 'pc_2.0:', len(pluto[pluto['pc_2.0']==1])/float(len(pluto)), '\n'

print 'bsmt_0.0:', len(pluto[pluto['bsmt_0.0']==1])/float(len(pluto))
print 'bsmt_1.0:', len(pluto[pluto['bsmt_1.0']==1])/float(len(pluto))
print 'bsmt_5.0:', len(pluto[pluto['bsmt_5.0']==1])/float(len(pluto)), '\n'

bc_1: 0.418589590466
bc_2: 0.329113252117
bc_3: 0.178408578178
bc_4: 0.0174735249622

pc_0.0: 0.096988879157
pc_1.0: 0.401743769408
pc_2.0: 0.501267351435

bsmt_0.0: 0.0582570268333
bsmt_1.0: 0.846394351992
bsmt_5.0: 0.0953486211747

#### keeping only necessary columns

In [30]:
pluto = pluto[['BBL', 'AssessSqft', 'UnitsRes', 'ResArea_perunit', 'Res_r', \
               'NumFloors', 'Bldg_nrr', 'BldgAge', 'bc_1', 'bc_0', \
              'bc_2', 'bc_3', 'bc_4', 'pc_2.0', 'pc_1.0', 'pc_0.0', 'bsmt_0.0', 'bsmt_5.0', \
               'bsmt_1.0', 'geometry']]

### view datasets

In [31]:
pluto.head()

,BBL,AssessSqft,UnitsRes,ResArea_perunit,Res_r,NumFloors,Bldg_nrr,BldgAge,bc_1,bc_0,bc_2,bc_3,bc_4,pc_2.0,pc_1.0,pc_0.0,bsmt_0.0,bsmt_5.0,bsmt_1.0,geometry
0,5.007470e+09,15.725806,2,744.0,1.0,1.0,2.583333,57,0,0,1,0,0,0,1,0,0,0,1,"POLYGON ((944681.4200000018 161477.381400004, ..."
2,5.007130e+09,17.174772,1,1316.0,1.0,2.5,1.588235,97,1,0,0,0,0,0,1,0,0,0,1,"POLYGON ((949278.1987999976 161346.9971999973,..."
3,5.007140e+09,13.135283,2,1094.0,1.0,2.0,1.923077,42,0,0,1,0,0,0,1,0,1,0,0,"POLYGON ((950061.0491999984 160815.3023999929,..."
4,5.011840e+09,9.246656,1,2392.0,1.0,2.0,1.769231,52,1,0,0,0,0,0,1,0,1,0,0,"POLYGON ((941981.4906000048 168120.2173999995,..."
5,5.007650e+09,17.458111,1,1122.0,1.0,2.5,1.764706,92,1,0,0,0,0,0,1,0,0,0,1,"POLYGON ((948064.1299999952 160645.2319999933,..."

In [32]:
pluto = pluto.reset_index()
pluto = pluto.drop('index',axis=1)

In [33]:
dwell.head()

,BBL,Ownership,Agent,SiteManager,boiler,boiler_age,Corp,Ind,Joint,Off,boiler_0,boiler_1,boiler_2
0,3018030086,Corp,1.0,1.0,0,27.174765,1,0,0,0,1,0,0
1,2043190025,Corp,1.0,1.0,0,27.174765,1,0,0,0,1,0,0
2,3020740016,Ind,0.0,1.0,0,27.174765,0,1,0,0,1,0,0
3,1013990010,Corp,1.0,1.0,0,27.174765,1,0,0,0,1,0,0
4,3068190001,Corp,1.0,0.0,0,27.174765,1,0,0,0,1,0,0

In [34]:
print dwell.BBL.dtypes
print pluto.BBL.dtypes

int64
float64

In [35]:
print len(dwell)
print len(pluto)

143798
753540

### merge on BBL

In [36]:
pluto['BBL'] = pluto['BBL'].astype(int)

In [37]:
print dwell.BBL.dtypes
print pluto.BBL.dtypes

int64
int64

In [38]:
dwell_pluto = pd.merge(pluto, dwell, on='BBL', how='right')

In [39]:
print len(dwell_pluto)

143798

In [40]:
#must be the case that some dwellings are not comprised within the parameters of reduced pluto df
dwell_pluto.isnull().sum()

BBL                   0
AssessSqft         5856
UnitsRes           5856
ResArea_perunit    5856
Res_r              5856
NumFloors          5856
Bldg_nrr           5856
BldgAge            5856
bc_1               5856
bc_0               5856
bc_2               5856
bc_3               5856
bc_4               5856
pc_2.0             5856
pc_1.0             5856
pc_0.0             5856
bsmt_0.0           5856
bsmt_5.0           5856
bsmt_1.0           5856
geometry           5856
Ownership             0
Agent                 0
SiteManager           0
boiler                0
boiler_age            0
Corp                  0
Ind                   0
Joint                 0
Off                   0
boiler_0              0
boiler_1              0
boiler_2              0
dtype: int64

In [41]:
dwell_pluto  = dwell_pluto.dropna()

In [42]:
print len(dwell_pluto)
print len(dwell_pluto.BBL.unique())

137942
137942

In [43]:
dwell_pluto.columns

Index([u'BBL', u'AssessSqft', u'UnitsRes', u'ResArea_perunit', u'Res_r',
       u'NumFloors', u'Bldg_nrr', u'BldgAge', u'bc_1', u'bc_0', u'bc_2',
       u'bc_3', u'bc_4', u'pc_2.0', u'pc_1.0', u'pc_0.0', u'bsmt_0.0',
       u'bsmt_5.0', u'bsmt_1.0', u'geometry', u'Ownership', u'Agent',
       u'SiteManager', u'boiler', u'boiler_age', u'Corp', u'Ind', u'Joint',
       u'Off', u'boiler_0', u'boiler_1', u'boiler_2'],
      dtype='object')

#### import results from Bo's model 6.7.17

In [44]:
results = pd.read_csv('../data_processed/00RESULT_2016_2017_season_predVIO_reptCOM_v2.csv')
results = results.drop('Unnamed: 0',axis=1)
results.head(2)

,BBL,Y_predict_prob,Y_predict,Y_actual,vio_count_actual,NumResUnits,Mark,com_count,com_pu,com_class,Result
0,1011470007,0.199449,0,0,0.0,10,TN,0.0,0.0,0.0,V0C0
1,3018440034,0.115293,0,0,0.0,3,TN,0.0,0.0,0.0,V0C0

In [45]:
print len(results[results.com_count>0])
print len(results[results.com_count==0])
print len(results)

22159
117405
139769

#### Plus, I am sending you output csv. You can find 'Result' column in a dataframe;
* V0C0: no vio, no com
* V0C1: no vio, yes com (less than median)
* V0C1: no vio, yes com (higher than median)
* V1C0: yes vio, no com
* V1C1: yes vio, yes com (less than median)
* V1C2: yes vio, yes com (higher than median)

#### FYI, other columns of the data are as followings:
* BBL: BBL id
* Y_predicted_prob: probability of potential violation in 2016-2017 season
* Y_predict: 0 or 1 based on previous column (threshold: 0.5)
* Y_actual: binary representative of real violation inspected in 2016-2017 season
* vio_count_actual: # of actual violation in 2016-1027 season
* NumResUnits: # of residential units
* Mark: Predictive model result (TP, TN, FP, FN)
* com_count: actual complaints
* com_pu: # of complaint per unit (normalized value)
* com_class: 0 (no complaint), 1 (yes com, less than median), 2 (yes com, higher than median)
* Result: combination of predicted violation and reported complaint

In [46]:
results.Result.unique()

array(['V0C0', 'V1C0', 'V1C1', 'V0C2', 'V1C2', 'V0C1'], dtype=object)

#### results and total

In [47]:
print results.BBL.dtypes
print dwell_pluto.BBL.dtypes

int64
int64

In [48]:
df = pd.merge(results, dwell_pluto, on='BBL')

In [49]:
print len(results.BBL.unique())
print len(dwell_pluto.BBL.unique())
print len(df.BBL.unique())
print len(df)

139230
137942
136952
137029

In [50]:
df.isnull().sum()

BBL                   0
Y_predict_prob        0
Y_predict             0
Y_actual              0
vio_count_actual      0
NumResUnits           0
Mark                  0
com_count           191
com_pu              191
com_class             0
Result                0
AssessSqft            0
UnitsRes              0
ResArea_perunit       0
Res_r                 0
NumFloors             0
Bldg_nrr              0
BldgAge               0
bc_1                  0
bc_0                  0
bc_2                  0
bc_3                  0
bc_4                  0
pc_2.0                0
pc_1.0                0
pc_0.0                0
bsmt_0.0              0
bsmt_5.0              0
bsmt_1.0              0
geometry              0
Ownership             0
Agent                 0
SiteManager           0
boiler                0
boiler_age            0
Corp                  0
Ind                   0
Joint                 0
Off                   0
boiler_0              0
boiler_1              0
boiler_2              0
dtype: int64

In [51]:
print len(df[df.com_count==0])
print len(results[results.com_count==0])

114899
117405

Building Class
* 1: A (one family housing) 
* 2: B (two family housing) 
* 3: C (walk up) 
* 4: D (elevator apartment) 
* 0: Others (loft (L), mixed use (S), apt with office (O8), condo (R))

In [52]:
#number of bbls by dwelling type
print 'one family', len(df[df.bc_1==1])
print 'two family', len(df[df.bc_2==1])
print 'walk up', len(df[df.bc_3==1])
print 'elevator', len(df[df.bc_4==1])
print 'other', len(df[df.bc_0==1])
print 'total', len(df)

one family 2250
two family 8100
walk up 98913
elevator 12355
other 15411
total 137029

In [53]:
#number of bbls with at least one complaint by bbl
print 'one family', len(df.ix[(df['bc_1'] == 1) & (df['com_count'] >= 1)])
print 'two family', len(df.ix[(df['bc_2'] == 1) & (df['com_count'] >= 1)])
print 'walk up', len(df.ix[(df['bc_3'] == 1) & (df['com_count'] >= 1)])
print 'elevator', len(df.ix[(df['bc_4'] == 1) & (df['com_count'] >= 1)])
print 'other', len(df.ix[(df['bc_0'] == 1) & (df['com_count'] >= 1)])
print 'total', len(df[df.com_count>=1])

one family 75
two family 492
walk up 14089
elevator 5893
other 1390
total 21939

In [54]:
#number of bbls with at least one violation by bbl
print 'one family', len(df.ix[(df['bc_1'] == 1) & (df['vio_count_actual'] >= 1)])
print 'two family', len(df.ix[(df['bc_2'] == 1) & (df['vio_count_actual'] >= 1)])
print 'walk up', len(df.ix[(df['bc_3'] == 1) & (df['vio_count_actual'] >= 1)])
print 'elevator', len(df.ix[(df['bc_4'] == 1) & (df['vio_count_actual'] >= 1)])
print 'other', len(df.ix[(df['bc_0'] == 1) & (df['vio_count_actual'] >= 1)])
print 'total', len(df[df.vio_count_actual >= 1])

one family 32
two family 215
walk up 4722
elevator 1696
other 380
total 7045