In [1]:
import pandas as pd

In [2]:
c = pd.read_csv('../data_processed/COM_VIO_2014_2016_BBL_WEEK_AVG_onlyheatingseason.csv')
c = c.drop('Unnamed: 0',axis=1)
b = pd.read_csv('../data_processed/BBL_ACS_2016.csv')
b = b.drop('Unnamed: 0',axis=1)
p16 = pd.read_csv('../data_processed/mappluto_16_features_categorical')
p16 = p16.drop(['Unnamed: 0','com_count'],axis=1)
p14 = pd.read_csv('../data_processed/pluto_cbg14.csv')
p14 = p14.drop('Unnamed: 0',axis=1)

In [3]:
c.head(2)

          BBL  com_count  vio_count
0  1000047501   0.031915        0.0
1  1000100032   0.010638        0.0

In [4]:
b.head(2)

,BBL,CBG,gas_utility_r,avg_bldng_age,ownership_r,year,pop,female_r,elderly_r,white_r,...,hh_child_6_r,hh_living_alone_r,edu_high_r,non_eng_r,unemployed_r,vacancy_r,med_rent,med_income,merried_r,longercommute_r
0,5080500076,360850248001,0.795322,54.249527,0.586745,2016.0,1373.0,0.441369,0.09177,0.962855,...,0.053097,0.284600,0.210817,0.019493,0.042266,0.030246,980.0,51992.0,0.485255,0.446529
1,5079390055,360850244011,0.876565,35.051878,0.803220,2016.0,1698.0,0.510012,0.14311,0.959364,...,0.423780,0.187835,0.262467,0.000000,0.035823,0.000000,1259.0,84967.0,0.573906,0.450751

In [5]:
p14.head(2)

            BBL         GEOID
0  5.007470e+09  360850189012
1  5.007510e+09  360850189012

In [6]:
p16.head(2)

,AssessLand,BBL,BsmtCode,BuiltFAR,LandUse,LotType,NumBldgs,NumFloors,ProxCode,ResArea,UnitsRes,YearBuilt,bldgclass_updated,AssessSqft,ownertype_updated
0,8441,5010310021,2,0,2,5,1,2,1,4710,3,1920,3,4,5
1,6480,5012460037,2,0,1,5,1,2,1,2700,2,2003,2,8,5

In [7]:
p14['BBL'] = p14['BBL'].astype(int)

In [15]:
cb = pd.merge(c, b, on='BBL', how='left')
cbp14 = pd.merge(cb, p14, on='BBL', how='left')
cbp16 = pd.merge(cb, p16, on='BBL', how='left')

In [16]:
print 'length complaints df: ' + str(len(c))
print 'length acs df: ' + str(len(b))
print 'length complaints and acs: ' + str(len(cb))
print 'length pluto14 df: ' + str(len(p14))
print 'length pluto16 df: ' + str(len(p16))
print 'length merged complaints, acs, pluto14: ' + str(len(cbp14))
print 'length merged complaints, acs, pluto16: ' + str(len(cbp16))

length complaints df: 53310
length acs df: 857237
length complaints and acs: 53310
length pluto14 df: 873395
length pluto16 df: 51779
length merged complaints, acs, pluto14: 54242
length merged complaints, acs, pluto16: 53310

In [17]:
cbp14.isnull().sum()

BBL                   0
com_count             0
vio_count             0
CBG                  36
gas_utility_r        36
avg_bldng_age        36
ownership_r          36
year                 36
pop                  36
female_r             36
elderly_r            36
white_r              36
black_r              36
asian_r              36
hh                   36
hh_child_6_r         36
hh_living_alone_r    36
edu_high_r           36
non_eng_r            36
unemployed_r         36
vacancy_r            36
med_rent             36
med_income           36
merried_r            36
longercommute_r      36
GEOID                94
dtype: int64

In [18]:
cbp16.isnull().sum()

BBL                     0
com_count               0
vio_count               0
CBG                    36
gas_utility_r          36
avg_bldng_age          36
ownership_r            36
year                   36
pop                    36
female_r               36
elderly_r              36
white_r                36
black_r                36
asian_r                36
hh                     36
hh_child_6_r           36
hh_living_alone_r      36
edu_high_r             36
non_eng_r              36
unemployed_r           36
vacancy_r              36
med_rent               36
med_income             36
merried_r              36
longercommute_r        36
AssessLand           1531
BsmtCode             1531
BuiltFAR             1531
LandUse              1531
LotType              1531
NumBldgs             1531
NumFloors            1531
ProxCode             1531
ResArea              1531
UnitsRes             1531
YearBuilt            1531
bldgclass_updated    1531
AssessSqft           1531
ownertype_updated    1531
dtype: int64