In [10]:
import pandas as pd

In [15]:
phys_cond_14 = pd.read_csv('../data_processed/phys_cond_14')
phys_cond_14 = phys_cond_14.drop('Unnamed: 0', axis=1)
phys_cond_15 = pd.read_csv('../data_processed/phys_cond_15')
phys_cond_15 = phys_cond_15.drop('Unnamed: 0', axis=1)
demos_14 = pd.read_csv('../data_processed/00VAR_Demographic_ACS_CBG_2014.csv')
demos_14 = demos_14.drop('Unnamed: 0', axis=1)
demos_15 = pd.read_csv('../data_processed/00VAR_Demographic_ACS_CBG_2015.csv')
demos_15 = demos_15.drop('Unnamed: 0', axis=1)

In [16]:
phys_cond_14.head(3)

,Id2,utility_gas_r,Geography,homeowner_r,avg_bldng_age
0,360050001000,NaN,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN
1,360050001001,NaN,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN
2,360050002000,NaN,"Block Group 0, Census Tract 2, Bronx County, N...",NaN,NaN

In [17]:
phys_cond_15.head(3)

,Id2,Geography,gas_utility_r,avg_bldng_age,ownership_r
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN,NaN
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN,NaN
2,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",NaN,NaN,NaN

In [18]:
demos_14.head(3)

,Id2,pop,female_r,elderly_r,white_r,black_r,asian_r,hh,hh_child_6_r,hh_living_alone_r,edu_high_r,non_eng_r,unemployed_r,vacancy_r,med_rent,med_income,merried_r,longercommute_r,year
0,360010001001,1158.0,0.613990,0.076857,0.290155,0.489637,0.016408,240.0,0.000000,0.311404,0.185526,0.08114,0.105618,0.142857,615.0,40781.0,0.282022,0.254860,2014
1,360010001002,1043.0,0.566635,0.085331,0.380633,0.543624,0.027804,332.0,0.313253,0.284916,0.102941,0.00000,0.078189,0.191874,659.0,28700.0,0.363755,0.088608,2014
2,360010002001,2716.0,0.516200,0.032769,0.053756,0.829529,0.000000,797.0,0.094103,0.431550,0.037383,0.00000,0.069195,0.086164,296.0,15671.0,0.254717,0.132804,2014

In [19]:
features_14 = pd.merge(phys_cond_14, demos_14, on='Id2', how='outer')

In [29]:
phys_cond_14.Id2.dtypes

dtype('int64')

In [32]:
len(phys_cond_14)

6493

In [31]:
demos_14.Id2.dtypes

dtype('int64')

In [35]:
len(demos_14.Id2.unique())

15463

In [33]:
len(demos_14)

15463

In [20]:
features_14.head(2)

,Id2,utility_gas_r,Geography,homeowner_r,avg_bldng_age,pop,female_r,elderly_r,white_r,black_r,...,hh_living_alone_r,edu_high_r,non_eng_r,unemployed_r,vacancy_r,med_rent,med_income,merried_r,longercommute_r,year
0,360050001000,NaN,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2014
1,360050001001,NaN,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN,8430.0,0.092052,0.00344,0.140451,0.575445,...,NaN,0.021901,NaN,0.0,NaN,0.0,0.0,0.127639,NaN,2014

In [21]:
features_15 = pd.merge(phys_cond_15, demos_15, on='Id2', how='outer')

In [22]:
features_15.head(2)

,Id2,Geography,gas_utility_r,avg_bldng_age,ownership_r,pop,female_r,elderly_r,white_r,black_r,...,hh_living_alone_r,edu_high_r,non_eng_r,unemployed_r,vacancy_r,med_rent,med_income,merried_r,longercommute_r,year
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2015
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN,NaN,7703.0,0.073997,0.002726,0.099052,0.629106,...,NaN,0.012699,NaN,0.0,NaN,0.0,0.0,0.12229,NaN,2015

In [24]:
features_14.isnull().sum()

Id2                     0
utility_gas_r        9250
Geography            8970
homeowner_r          9250
avg_bldng_age        9248
pop                     0
female_r              292
elderly_r             292
white_r               292
black_r               292
asian_r               292
hh                      0
hh_child_6_r          545
hh_living_alone_r     343
edu_high_r            293
non_eng_r             343
unemployed_r          292
vacancy_r             337
med_rent                0
med_income              0
merried_r             292
longercommute_r       319
year                    0
dtype: int64

In [25]:
len(features_14)

15463

In [27]:
features_14 = features_14.dropna()

In [28]:
len(features_14)

6093