In [1]:
import pandas as pd

In [25]:
employment = pd.read_csv('../data_processed/2015_acs_employment')
language = pd.read_csv('../data_processed/2015_acs_language')
income = pd.read_csv('../data_processed/2015_acs_income')

In [26]:
print('Length of Employment DF: ' + str(len(employment)))
print(employment.isnull().sum())
employment.head()

Length of Employment DF: 1794
Unnamed: 0                                    0
Zip Code                                      0
Employment/Pop Ratio for Pop > 16 Years(%)    0
Unemployment Rate for Pop > 16 Years (%)      0
dtype: int64

,Unnamed: 0,Zip Code,Employment/Pop Ratio for Pop > 16 Years(%),Unemployment Rate for Pop > 16 Years (%)
0,0,6390,65.6,9.8
1,1,10001,64.7,8.4
2,2,10002,51.0,8.9
3,3,10003,63.5,6.1
4,4,10004,79.3,6.1

In [27]:
print('Length of Language DF: ' + str(len(language)))
print(language.isnull().sum())
language.head()

Length of Language DF: 1794
Unnamed: 0                                                                                     0
Zip Code                                                                                       0
Percentage of Pop > 5 Years Who Don't Speak English at Home and Speak English < 'Very Well'    0
dtype: int64

,Unnamed: 0,Zip Code,Percentage of Pop > 5 Years Who Don't Speak English at Home and Speak English < 'Very Well'
0,0,6390,0.0
1,1,10001,11.0
2,2,10002,37.4
3,3,10003,4.9
4,4,10004,2.6

In [28]:
print('Length of Income DF: ' + str(len(income)))
print(income.isnull().sum())
income.head()

Length of Income DF: 1746
Unnamed: 0                      0
Zip Code                        0
2015 Median Household Income    0
dtype: int64

   Unnamed: 0  Zip Code 2015 Median Household Income
0           1      6390                       151083
1           2     10001                        86801
2           3     10002                        33726
3           4     10003                        98151
4           5     10004                       119691

In [29]:
merged_features = pd.merge(employment, language, on='Zip Code', how='inner')

In [30]:
merged_features = pd.merge(merged_features, income, on='Zip Code', how='left')

In [31]:
merged_features.columns

Index([u'Unnamed: 0_x', u'Zip Code',
       u'Employment/Pop Ratio for Pop > 16 Years(%)',
       u'Unemployment Rate for Pop > 16 Years (%)', u'Unnamed: 0_y',
       u'Percentage of Pop > 5 Years Who Don't Speak English at Home and Speak English < 'Very Well'',
       u'Unnamed: 0', u'2015 Median Household Income'],
      dtype='object')

In [32]:
merged_features = merged_features.drop(['Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0', 'Employment/Pop Ratio for Pop > 16 Years(%)'], axis=1)

In [33]:
print("Length of Merged Features DF: " + str(len(merged_features)))
print(merged_features.isnull().sum())

Length of Merged Features DF: 1794
Zip Code                                                                                        0
Unemployment Rate for Pop > 16 Years (%)                                                        0
Percentage of Pop > 5 Years Who Don't Speak English at Home and Speak English < 'Very Well'     0
2015 Median Household Income                                                                   48
dtype: int64

In [34]:
merged_features.head()

,Zip Code,Unemployment Rate for Pop > 16 Years (%),Percentage of Pop > 5 Years Who Don't Speak English at Home and Speak English < 'Very Well',2015 Median Household Income
0,6390,9.8,0.0,151083
1,10001,8.4,11.0,86801
2,10002,8.9,37.4,33726
3,10003,6.1,4.9,98151
4,10004,6.1,2.6,119691

In [36]:
merged_features.to_csv('../data_processed/acs_merged_features')