In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
%matplotlib inline

# Join all data (weekly + zipcode level)
* Weekly Heat/hot water complaints
* Weekly C class HPD HMC violations
* Demographic & socio-economic characteristics

In [2]:
# Load weekly Heat/hot water complaints and class c violations (cleaned data) at zipcode level
df_weekly = pd.read_csv('data/output/weekly_heathotwater_com_vio.csv', dtype = {'Zipcode': str}, 
                        parse_dates = ['Date'])
df_weekly['ZIPCODE'] = df_weekly['Zipcode']
df_weekly = df_weekly.drop(['Unnamed: 0', 'Zipcode'], axis = 1)


# Load explanatory variables 
df_acs= pd.read_csv('data/output/acs_zip.csv', dtype = {'ZIPCODE': str})
df_acs = df_acs.drop(['Unnamed: 0', 'Id2', 'native_r'], axis = 1)

In [3]:
df_weekly.head(2)

   Count_com       Date  Count_vio    Year  Month  Week ZIPCODE
0        9.0 2014-03-17        0.0  2014.0    3.0  12.0   10001
1        9.0 2014-03-24        1.0  2014.0    3.0  13.0   10001

In [4]:
df_acs.head(2)

,POPULATION,ZIPCODE,disability_r,edu_high_r,edu_low_r,employment_r,hh,hh_with6_r,utility_gas_r,tank_gas_r,...,below_poverty_r,pop,male_pop_r,female_pop_r,elder_pop_r,white_r,black_r,asian_r,towork_less30_r,towork_over30_r
0,18681.0,11436,0.123,0.177,0.357,0.578,5454.0,0.002915,0.814,0.021,...,0.137,19425.0,0.489936,0.510064,0.000587,0.062445,0.701982,0.069086,0.252197,0.747803
1,62426.0,11213,0.106,0.219,0.310,0.532,24163.0,0.000857,0.781,0.010,...,0.276,64603.0,0.454638,0.545362,0.000170,0.199464,0.683467,0.017058,0.278333,0.721667

In [5]:
# Join all data set
df = pd.merge(df_weekly, df_acs, how = 'left', on = 'ZIPCODE')

# Drop dulicates 
df = df.drop_duplicates()

# Reindex based on the week
#index = df['Date']
#df.index = index

In [6]:
df.head()

,Count_com,Date,Count_vio,Year,Month,Week,ZIPCODE,POPULATION,disability_r,edu_high_r,...,below_poverty_r,pop,male_pop_r,female_pop_r,elder_pop_r,white_r,black_r,asian_r,towork_less30_r,towork_over30_r
0,9.0,2014-03-17,0.0,2014.0,3.0,12.0,10001,22413.0,0.078,0.667,...,0.204,23537.0,0.502485,0.497515,0.000501,0.602456,0.121893,0.191996,0.624704,0.375296
1,9.0,2014-03-24,1.0,2014.0,3.0,13.0,10001,22413.0,0.078,0.667,...,0.204,23537.0,0.502485,0.497515,0.000501,0.602456,0.121893,0.191996,0.624704,0.375296
2,9.0,2014-03-31,0.0,2014.0,3.0,14.0,10001,22413.0,0.078,0.667,...,0.204,23537.0,0.502485,0.497515,0.000501,0.602456,0.121893,0.191996,0.624704,0.375296
3,17.0,2014-04-07,0.0,2014.0,4.0,15.0,10001,22413.0,0.078,0.667,...,0.204,23537.0,0.502485,0.497515,0.000501,0.602456,0.121893,0.191996,0.624704,0.375296
4,2.0,2014-04-14,0.0,2014.0,4.0,16.0,10001,22413.0,0.078,0.667,...,0.204,23537.0,0.502485,0.497515,0.000501,0.602456,0.121893,0.191996,0.624704,0.375296

In [7]:
df.describe()

/Users/bh1555/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Count_com,Count_vio,Year,Month,Week,POPULATION,disability_r,edu_high_r,edu_low_r,employment_r,...,below_poverty_r,pop,male_pop_r,female_pop_r,elder_pop_r,white_r,black_r,asian_r,towork_less30_r,towork_over30_r
count,26137.000000,26547.000000,26547.000000,26547.000000,26547.000000,27645.000000,27447.000000,27447.000000,27447.000000,27447.000000,...,27447.000000,27448.000000,27447.000000,27447.000000,27447.000000,27447.000000,27447.000000,27447.000000,27447.000000,27447.000000
mean,22.432299,9.020341,2015.023694,6.537349,26.845670,45985.637945,0.101681,0.384160,0.232783,0.585925,...,0.182151,48092.535157,0.478122,0.521878,0.000427,0.467314,0.222075,0.141062,0.334278,0.665722
std,47.106726,14.430171,0.819416,3.415917,14.967008,25956.569123,0.035197,0.213843,0.092047,0.080053,...,0.103230,26431.500512,0.026245,0.026245,0.000511,0.262170,0.254300,0.134774,0.122368,0.122368
min,0.000000,0.000000,2014.000000,1.000000,1.000000,0.000000,0.000000,0.090000,0.019000,0.398000,...,0.031000,0.000000,0.401037,0.405244,0.000000,0.018846,0.000749,0.000000,0.144436,0.315239
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,716.000000,135.000000,2017.000000,12.000000,53.000000,109069.000000,0.239000,0.898000,0.456000,0.870000,...,0.479000,112709.000000,0.594756,0.598963,0.005067,0.989016,0.912797,0.733180,0.684761,0.855564

In [8]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Week'] = pd.DatetimeIndex(df['Date']).week

# Export data as csv
df.to_csv('data/output/data_ready.csv')

In [9]:
#df[df['Date']=='2014-05-05']