In [109]:
import zipfile
import pandas as pd

### Import occupancy by homeowner
ACS Table B25009

In [110]:
z = zipfile.ZipFile('../data_initial/ACS_14_5YR_B25009.zip')
z.extractall('../data_processed/')

In [111]:
homeowner = pd.read_csv('../data_processed/ACS_14_5YR_B25009_with_ann.csv', header=1)

In [112]:
homeowner.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Owner occupied:,Margin of Error; Owner occupied:,Estimate; Owner occupied: - 1-person household,Margin of Error; Owner occupied: - 1-person household,Estimate; Owner occupied: - 2-person household,...,Estimate; Renter occupied: - 3-person household,Margin of Error; Renter occupied: - 3-person household,Estimate; Renter occupied: - 4-person household,Margin of Error; Renter occupied: - 4-person household,Estimate; Renter occupied: - 5-person household,Margin of Error; Renter occupied: - 5-person household,Estimate; Renter occupied: - 6-person household,Margin of Error; Renter occupied: - 6-person household,Estimate; Renter occupied: - 7-or-more person household,Margin of Error; Renter occupied: - 7-or-more person household
0,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
1,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",0,16,0,16,0,16,0,...,0,16,0,16,0,16,0,16,0,16
2,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
3,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",460,91,302,88,49,36,67,...,12,20,26,29,52,51,0,11,0,11
4,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",475,87,270,77,10,15,56,...,39,46,47,45,6,10,10,15,9,13

In [113]:
homeowner = homeowner[['Id2', 'Geography', 'Estimate; Total:', 'Estimate; Owner occupied:']]

In [114]:
homeowner['homeowner_r'] = homeowner['Estimate; Owner occupied:']/homeowner['Estimate; Total:']
homeowner = homeowner[['Id2', 'Geography', 'homeowner_r']]
homeowner.head()

,Id2,Geography,homeowner_r
0,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN
1,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN
2,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",NaN
3,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",0.656522
4,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",0.568421

### Import building age
Table B25034

In [115]:
z = zipfile.ZipFile('../data_initial/ACS_14_5YR_B25034.zip')
z.extractall('../data_initial/')

In [116]:
bldng_age = pd.read_csv('../data_initial/ACS_14_5YR_B25034_with_ann.csv', header=1)
#bldng_age.head()

In [117]:
bldng_age = bldng_age[['Geography', 'Id2', 'Estimate; Total:', 'Estimate; Total: - Built 2010 or later', 'Estimate; Total: - Built 2000 to 2009', 'Estimate; Total: - Built 1990 to 1999', 'Estimate; Total: - Built 1980 to 1989', 'Estimate; Total: - Built 1970 to 1979', 'Estimate; Total: - Built 1960 to 1969', 'Estimate; Total: - Built 1950 to 1959', 'Estimate; Total: - Built 1940 to 1949', 'Estimate; Total: - Built 1939 or earlier']]

In [118]:
bldng_age.columns

Index([u'Geography', u'Id2', u'Estimate; Total:',
       u'Estimate; Total: - Built 2010 or later',
       u'Estimate; Total: - Built 2000 to 2009',
       u'Estimate; Total: - Built 1990 to 1999',
       u'Estimate; Total: - Built 1980 to 1989',
       u'Estimate; Total: - Built 1970 to 1979',
       u'Estimate; Total: - Built 1960 to 1969',
       u'Estimate; Total: - Built 1950 to 1959',
       u'Estimate; Total: - Built 1940 to 1949',
       u'Estimate; Total: - Built 1939 or earlier'],
      dtype='object')

In [119]:
#take weighted average
bldng_age['avg_bldng_age'] = 2014 - ((bldng_age['Estimate; Total: - Built 2010 or later']*2010 + bldng_age['Estimate; Total: - Built 2000 to 2009']*2005 + bldng_age['Estimate; Total: - Built 1990 to 1999']*1995 + bldng_age['Estimate; Total: - Built 1980 to 1989']*1985 + bldng_age['Estimate; Total: - Built 1970 to 1979']*1975 + bldng_age['Estimate; Total: - Built 1960 to 1969']*1965 + bldng_age['Estimate; Total: - Built 1950 to 1959']*1955 + bldng_age['Estimate; Total: - Built 1940 to 1949']*1945 + bldng_age['Estimate; Total: - Built 1939 or earlier']*1939) / bldng_age['Estimate; Total:'])
bldng_age = bldng_age[['Id2', 'avg_bldng_age']]

In [120]:
bldng_age.head(10)

            Id2  avg_bldng_age
0  360050001000            NaN
1  360050001001            NaN
2  360050002000            NaN
3  360050002001      63.282609
4  360050002002      56.682836
5  360050002003      33.354906
6  360050004000            NaN
7  360050004001      48.741325
8  360050004002      52.872428
9  360050004003      24.045010

### Import house heating fuel
Table B25040

In [121]:
z = zipfile.ZipFile('../data_initial/ACS_14_5YR_B25040.zip')
z.extractall('../data_initial/')

In [122]:
heat_fuel = pd.read_csv('../data_initial/ACS_14_5YR_B25040_with_ann.csv', header=1)
heat_fuel.head(2)

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Utility gas,Margin of Error; Total: - Utility gas,"Estimate; Total: - Bottled, tank, or LP gas","Margin of Error; Total: - Bottled, tank, or LP gas",Estimate; Total: - Electricity,...,Estimate; Total: - Coal or coke,Margin of Error; Total: - Coal or coke,Estimate; Total: - Wood,Margin of Error; Total: - Wood,Estimate; Total: - Solar energy,Margin of Error; Total: - Solar energy,Estimate; Total: - Other fuel,Margin of Error; Total: - Other fuel,Estimate; Total: - No fuel used,Margin of Error; Total: - No fuel used
0,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",0,11,0,11,0,11,0,...,0,11,0,11,0,11,0,11,0,11
1,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",0,16,0,16,0,16,0,...,0,16,0,16,0,16,0,16,0,16

In [123]:
heat_fuel = heat_fuel[['Id2', 'Estimate; Total: - Utility gas', 'Estimate; Total:']]
heat_fuel['utility_gas_r'] = heat_fuel['Estimate; Total: - Utility gas'] / heat_fuel['Estimate; Total:']
heat_fuel = heat_fuel[['Id2', 'utility_gas_r']]

In [129]:
heat_fuel.isnull().sum()

Id2                0
utility_gas_r    280
dtype: int64

In [124]:
heat_fuel.head()

            Id2  utility_gas_r
0  360050001000            NaN
1  360050001001            NaN
2  360050002000            NaN
3  360050002001       0.813043
4  360050002002       0.711579

In [125]:
merge1 = pd.merge(heat_fuel, homeowner, on='Id2', how='outer')

In [126]:
phys_cond_14 = pd.merge(merge1, bldng_age, on='Id2', how='outer')

In [127]:
phys_cond_14.to_csv('../data_processed/phys_cond_14')

In [128]:
phys_cond_14.head(2)

,Id2,utility_gas_r,Geography,homeowner_r,avg_bldng_age
0,360050001000,NaN,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,NaN
1,360050001001,NaN,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,NaN

In [130]:
phys_cond_14.isnull().sum()

Id2                0
utility_gas_r    280
Geography          0
homeowner_r      280
avg_bldng_age    278
dtype: int64

In [131]:
len(phys_cond_14)

6493