In [2]:
import pandas as pd
import zipfile
import geopandas as gpd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
z = zipfile.ZipFile('../data_initial/mappluto_14v2.zip')
z.extractall('../data_initial/')

In [4]:
boroughs = ['Staten_Island', 'Queens', 'Manhattan', 'Bronx', 'Brooklyn']
abreevs = ['SI', 'QN', 'MN', 'BX', 'BK']

pluto = []
i = 0
for elem in boroughs:
    temp = gpd.read_file('../data_initial/'+elem+'/'+abreevs[i]+'MapPLUTO.shp')
    temp['BBL'] = temp['BBL'].astype(str)
    temp = temp.to_crs({'init':'epsg:4326'})
    pluto.append(temp)
    i+=1

In [5]:
z = zipfile.ZipFile('../data_initial/cb_2014_36_bg_500k.zip')
z.extractall('../data_initial/')

In [6]:
cbg = gpd.read_file('../data_initial/cb_2014_36_bg_500k.shp')

In [7]:
cbg = cbg.to_crs({'init':'epsg:4326'})

In [8]:
cbg = cbg[['geometry','GEOID']]
cbg['GEOID'] = cbg['GEOID'].astype(str)

In [21]:
abreevsl = [elem.lower() for elem in abreevs]
bbl_cbg = []

for i in range(0,len(pluto)):
    for_merge = pluto[i][['BBL','geometry']]
    for_merge['BBL'] = for_merge['BBL'].astype(str)
    merged = gpd.sjoin(for_merge, cbg)
    merged = merged.drop(['geometry','index_right'],axis=1)
    bbl_cbg.append(merged)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
bbl_cbg[0].head()

              BBL         GEOID
0    5007470028.0  360850189012
80   5007510245.0  360850189012
325  5004770074.0  360850189012
379  5004790001.0  360850189012
404  5004760035.0  360850189012

In [23]:
bbl_cbg = pd.concat(bbl_cbg)

In [24]:
len(bbl_cbg)

873395

In [27]:
pluto_updated = pd.concat(pluto)

Specific features needed from PLUTO are;
* SUM(BldgArea)
* SUM(ResArea)
* SUM(UnitRes)
* SUM(ResArea) of non city-owned or federal-owned lots ("OwnerType" is not 'C' or 'O')
* SUM(UnitsRes) of non city-owned or federal-owned lots ("OwnerType" is not 'C' or 'O')
* MEAN(AssessTot)

In [31]:
pluto_updated['BBL'] = pluto_updated['BBL'].astype(str)

In [38]:
len(pluto_updated)

857513

In [47]:
#bbl_cbg = bbl_cbg.reset_index()

In [49]:
#pluto_updated = pluto_updated.reset_index()

In [58]:
bldgarea = pd.merge(bbl_cbg, pluto_updated, on='BBL')
bldgarea = pd.DataFrame(bldgarea['BldgArea'].groupby(bldgarea['GEOID']).sum())
bldgarea = bldgarea.reset_index()

In [59]:
len(bldgarea)

6450

In [60]:
resarea = pd.merge(bbl_cbg, pluto_updated, on='BBL')
resarea = pd.DataFrame(resarea['ResArea'].groupby(resarea['GEOID']).sum())
resarea = resarea.reset_index()

In [61]:
len(resarea)

6450

In [62]:
unitsres = pd.merge(bbl_cbg, pluto_updated, on='BBL')
unitsres = pd.DataFrame(unitsres['UnitsRes'].groupby(unitsres['GEOID']).sum())
unitsres = unitsres.reset_index()

In [63]:
len(unitsres)

6450

In [64]:
resarea_ng = pd.merge(bbl_cbg, pluto_updated, on='BBL')
resarea_ng['OwnerType'].astype(str)
resarea_ng = resarea_ng[(resarea_ng['OwnerType'] != 'O') & (resarea_ng['OwnerType'] != 'C')]
resarea_ng = pd.DataFrame(resarea_ng['ResArea'].groupby(resarea_ng['GEOID']).sum())
resarea_ng = resarea_ng.rename(columns={'ResArea':'ResAreaNonGovt'})
resarea_ng = resarea_ng.reset_index()

In [89]:
len(resarea_ng)

6269

In [65]:
resunits_ng = pd.merge(bbl_cbg, pluto_updated, on='BBL')
resunits_ng['OwnerType'].astype(str)
resunits_ng = resunits_ng[(resunits_ng['OwnerType'] != 'O') & (resunits_ng['OwnerType'] != 'C')]
resunits_ng = pd.DataFrame(resunits_ng['UnitsRes'].groupby(resunits_ng['GEOID']).sum())
resunits_ng = resunits_ng.rename(columns={'UnitsRes':'UnitsResNonGovt'})
resunits_ng = resunits_ng.reset_index()

In [92]:
len(resunits_ng)

6269

In [66]:
assessed = pd.merge(bbl_cbg, pluto_updated, on='BBL')
assessed = pd.DataFrame(assessed['AssessTot'].groupby(assessed['GEOID']).mean())
assessed = assessed.reset_index()

In [79]:
len(assessed)

6450

In [115]:
#merge features from disparate dfs to one on GEOID
features = pd.merge(bldgarea, cbg, on='GEOID')

In [116]:
features.head(2)

          GEOID  BldgArea                                           geometry
0  360050001000   5502107  POLYGON Z ((-73.892504 40.80120600000001 0, -7...
1  360050001001   5502107  POLYGON Z ((-73.89276599999999 40.792836 0, -7...

In [117]:
len(features)

6450

In [118]:
features = pd.merge(resarea, features, on='GEOID')

In [119]:
features.head(2)

,GEOID,ResArea,BldgArea,geometry
0,360050001000,0,5502107,"POLYGON Z ((-73.892504 40.80120600000001 0, -7..."
1,360050001001,0,5502107,"POLYGON Z ((-73.89276599999999 40.792836 0, -7..."

In [120]:
len(features)

6450

In [121]:
features = pd.merge(unitsres, features, on='GEOID')

In [122]:
features.head(2)

,GEOID,UnitsRes,ResArea,BldgArea,geometry
0,360050001000,0,0,5502107,"POLYGON Z ((-73.892504 40.80120600000001 0, -7..."
1,360050001001,0,0,5502107,"POLYGON Z ((-73.89276599999999 40.792836 0, -7..."

In [123]:
len(features)

6450

In [124]:
features = pd.merge(resarea_ng, features, on='GEOID', how='outer')

In [125]:
features.head()

,GEOID,ResAreaNonGovt,UnitsRes,ResArea,BldgArea,geometry
0,360050002000,0.0,0,0,0,"POLYGON Z ((-73.866484 40.805901 0, -73.862309..."
1,360050002001,456559.0,382,456559,489868,"POLYGON Z ((-73.86332899999999 40.814782 0, -7..."
2,360050002002,655173.0,625,656253,686993,"POLYGON Z ((-73.865218 40.814529 0, -73.864255..."
3,360050002003,511832.0,432,511832,544790,"POLYGON Z ((-73.858665 40.806833 0, -73.857508..."
4,360050004000,318977.0,275,318977,322442,"POLYGON Z ((-73.855256 40.80460799999999 0, -7..."

In [126]:
len(features)

6450

In [127]:
features = pd.merge(resunits_ng, features, on='GEOID', how='outer')

In [128]:
features.head(2)

,GEOID,UnitsResNonGovt,ResAreaNonGovt,UnitsRes,ResArea,BldgArea,geometry
0,360050002000,0.0,0.0,0,0,0,"POLYGON Z ((-73.866484 40.805901 0, -73.862309..."
1,360050002001,382.0,456559.0,382,456559,489868,"POLYGON Z ((-73.86332899999999 40.814782 0, -7..."

In [129]:
len(features)

6450

In [130]:
features = pd.merge(assessed, features, on='GEOID')

In [131]:
features.head(2)

,GEOID,AssessTot,UnitsResNonGovt,ResAreaNonGovt,UnitsRes,ResArea,BldgArea,geometry
0,360050001000,240764625.0,NaN,NaN,0,0,5502107,"POLYGON Z ((-73.892504 40.80120600000001 0, -7..."
1,360050001001,474367500.0,NaN,NaN,0,0,5502107,"POLYGON Z ((-73.89276599999999 40.792836 0, -7..."

In [132]:
len(features)

6450

In [139]:
features = features.fillna(0)

In [140]:
features.head(2)

,GEOID,AssessTot,UnitsResNonGovt,ResAreaNonGovt,UnitsRes,ResArea,BldgArea,geometry
0,360050001000,240764625.0,0.0,0.0,0,0,5502107,"POLYGON Z ((-73.892504 40.80120600000001 0, -7..."
1,360050001001,474367500.0,0.0,0.0,0,0,5502107,"POLYGON Z ((-73.89276599999999 40.792836 0, -7..."

In [141]:
features.isnull().sum()

GEOID              0
AssessTot          0
UnitsResNonGovt    0
ResAreaNonGovt     0
UnitsRes           0
ResArea            0
BldgArea           0
geometry           0
dtype: int64

In [142]:
features = features.drop('geometry',axis=1)

In [143]:
features.head(2)

,GEOID,AssessTot,UnitsResNonGovt,ResAreaNonGovt,UnitsRes,ResArea,BldgArea
0,360050001000,240764625.0,0.0,0.0,0,0,5502107
1,360050001001,474367500.0,0.0,0.0,0,0,5502107

In [144]:
features.to_csv('../data_processed/mapPluto_14')